/* Ejercicio 6 EDGARAS */

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(5, 82, 28);
}

h1 {
    color: white;
}

.prim {
    background-color: white;
    position: relative;
    left: 700px;
    width: 500px;
    padding-left: 10px;
    text-align: left;
    border: 7px solid black;
    border-radius: 25px;
}

.segun {
    background-color: rgb(240, 74, 74);
    color: white;
    width: 500px;
    border: 10px solid rgb(92, 0, 0);
    padding-left: 10px;
    margin-top: 40px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.ter {
    background-color: orange;
    color: white;
    position: relative;
    left: 1280px;
    width: 600px;
    padding-left: 5px;
    border: 10px solid rgb(139, 91, 0);
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: 40px;
}

.cuar {
    background-color: blue;
    color: white;
    position: relative;
    border: 3px solid rgb(79, 79, 245);
    border-style: dashed;
    width: 500px;
    padding-left: 10px;
    left: 700px;
    margin-top: 40px;
}

.cinco {
    background-color: rgb(240, 74, 74);
    color: white;
    width: 500px;
    border: 10px solid rgb(92, 0, 0);
    padding-left: 10px;
    margin-top: 40px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.sexto {
    background-color: orange;
    color: white;
    position: relative;
    left: 1280px;
    width: 600px;
    padding-left: 5px;
    border: 10px solid rgb(139, 91, 0);
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: 40px;
}

.sept {
    background-color: blue;
    color: white;
    position: relative;
    border: 3px solid rgb(79, 79, 245);
    border-style: dashed;
    width: 500px;
    padding-left: 10px;
    left: 700px;
    margin-top: 14px;
}